extends layout 

block content 
  div.login-container
    h1= title

    form.login-form(method="POST" action="")
      div.login-form-container
        label(for="username") Username: 
        input#username.login-input(type="text", name="username", required="true" autocomplete="off")
        label(for="password") Password:
        input#password.login-input(type="password", name="password", required="true")
      button.submit-btn(type="submit") Log in  
  
  if messages 
   each message in messages 
     li= message