extends layout 

block content 
    div.member-container
      h1 Become a Member
      h3 Members can see authors and dates of posts.

      p Enter the secret code to become a member.
      
      form.member-form(method="POST", action="")
        input#code.form-control(type="text", name="code", required="true")
        button.member-btn(type="submit") Submit

      if errors 
        each error in errors 
          li= error.msg