extends layout 

block content 
  h1= title 

  form(method='POST' action='')
    div
      label(for='first_name') First Name:
      input#first_name.form-control(type='text' placeholder='First Name' name='first_name' required='true')
      label(for='family_name') Last Name:
      input#family_name.form-control(type='text' placeholder='Last Name' name='family_name' required='true')
      label(for="username") Username: 
      input#username.form-control(type="text", placeholder="Username", name="username", required="true")
      label(for="password") Password: 
      input#password.form-control(type="text", placeholder="Password", name="password", required="true")
    button(type='submit') Submit
    