body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.message {
  border: 1px solid black;
  max-width: 20%;
}

.message-input {
  padding-left: 30px;
  word-wrap: break-all;
}